.venv/                # Ignore virtual environment
data/                 # Ignore raw data files
*.ipynb_checkpoints/  # Ignore Jupyter notebook checkpoints
__pycache__/          # Ignore Python cache
*.log                 # Ignore log files
